<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="shortcut icon" type="image/png" href="https://lh3.googleusercontent.com/proxy/ihm_tSBTAjnXT5GLpyRjzKgDnjHFUMZWpdWCuhVh6DlwW66qUejd1eO4btS_TKOYIyWwAOlIy3Zpad_5qI-D5B0"/>
    </head>
    <title>Bot Factory</title>
    <body>
        <div class="group box shadow" id="app">
            <h1>Bot Factory</h1>
            <a href="https://github.com/yukseltron/bot-factory">Github</a>
            <form v-on:submit.prevent="uploadFile">
                <div class="box">
                    <label class="chooseFile" for="myfile">Upload existing config file(s)</label><br />
                    <ol>
                        <li id="chooseFile">
                            <input type="file" id="myfile" ref="document" name="myfile">
                        </li>
                        <li>
                            <button class="upload-btn">Upload</button>
                        </li>
                    </ol>
                </div>
            </form>
            <button class="btn reset" v-on:click="resetFields()">Reset All</button>
            <div>
              <form id="json-maker" v-on:submit.prevent="addNew">
                  <div class="box">
                      <label for="fileName">Set config file name:</label>
                      <input type="text" id="fileName" v-model="name" size="50">
                  </div>
                <div class="box addWords">
                    <div class="textbox">
                        <label for="keyword">Keyword(s)</label>
                        <textarea
                            v-model="newKeyword"
                            spellcheck="true"
                            id="keyword"
                            rows="5"
                            columns="10"
                            >
                        </textarea>
                    </div>
                    <div class="textbox">
                        <label for="response">Response</label>
                        <textarea
                            v-model="newResponse"
                            spellcheck="true"
                            id="response"
                            rows="5"
                            columns="10"
                            >
                        </textarea>
                    </div>
                    <button class="btn btn-confirm">Add</button>
                </div>
              </form>
                  <ul>
                      <transition-group name="slide-fade">
                    <li
                      v-for="(pair, index) in pairs"
                      :key="pair.id"
                    ><div class="box box1">
                        {{ pair.keyword }}
                    </div>
                    :
                    <div class="box box2">
                     {{ pair.response }}
                    </div>
                    <button class="btn reset" v-on:click="removePair(index)">Remove</button></br>
                    </li>
                </transition-group>
                  </ul>
              <button class="btn export" v-on:click="exportFile()">Export</button>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
    </body>
</html>
